.container{
    background-color: gainsboro;
    background-image: linear-gradient(90deg, #aae0e7 0%, #f8e3f8 100%);

  
}


.nav{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    background-color: rgb(34, 31, 31);
}
.nav a{
    text-decoration: none;
    color:whitesmoke;
    display: flex;
    grid-template-columns: repeat(7,1fr);
    font-size: 20px;

}
.world img{ 
    width: 72px;
}
.places{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 3px;
    margin-left: 10%; 
}
.places img{
    width: 80%;
    height: 50vh;
    padding-top: 20px;
    border-radius: 20%;
}
#log{
    color: yellow;
    font-size: 21px;

}